html * {
  -webkit-font-smoothing: antialiased;
}

html {
	-webkit-text-size-adjust: 100%; /*Prevent text size change on orientation change.*/

}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
body {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400;
}

h3 {
	font-weight: 700 !important;
	color: #FFAE00 !important;
	font-size: 3em !important;
}
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}
.overlay {
	position: absolute; 
	height: 100%; 
	background-color: rgba(0,0,0,0.8); 
	text-align: center;
	top: 0; 
	margin: 0 !important; 
	left: 0;
	width: 100% !important;
	padding: 0 !important;
}

.infobox {
	padding: 0 !important;
	top: 25%; 
	text-align: center; 
	background-color: #FFFFFF;
}

.panel-heading .btn {
	border-radius: 5em !important;
	max-width: 1em !important;
	min-width: 1em !important; 
	max-height: 1em !important;
	min-height: 1em !important; 
	padding: 0em !important;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	max-width: 10em !important;
	min-width: 10em !important;
}
#sidebar .btn{
	margin-bottom: 1em !important;
}

#map {
	height: 100%;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	color: #FFFFFF;
	text-align: center;
}

.sidebar {
	margin-left: 18em !important;
}

.hiddenbar {
	margin-left: 0 !important;
}

#pinBtnDiv {
	padding: 1em;
}

#panContainer {
	padding-bottom: 1em;
	padding-right: 3em;
	width: 15em;
}

#zoomContainer {
	padding-top: 1em;
	padding-right: 3em;
}

#toolContainer {
	padding: 3em;
}

.col-0 {
	width: 0% !important;
	overflow: hidden;
	float: left;
}

#sidebar, #toolContainer {
	-webkit-transition: width 0.1s linear, margin 0.1s linear, padding 0.1s linear ;
	-moz-transition: width 0.1s linear, margin 0.1s linear, padding 0.1s linear ;
	-o-transition: width 0.1s linear, margin 0.1s linear, padding 0.1s linear ;
	transition: width 0.1s linear, margin 0.1s linear, padding 0.1s linear ;
}

.controls {
	font-size: 2em;
	text-align: center;
	border-radius: 5em;
}
#menupinBtn .glyphicon {
	color: #f10879;
}
#infoBtn .glyphicon {
	color: #acd6b3;
}

#zoomIn .glyphicon, #zoomOut .glyphicon {
	color: #c6c7eb;
}
.controls .glyphicon {
	font-size: .8em !important;
	padding: .5em;
}
#panLeft, #panRight, #panUp, #panDown {
	padding-right: .5em !important;
}

#panLeft i, #panRight i, #panUp i, #panDown i {
	margin-left: -.5em !important;
	color: #8b7a56;
}

#zoomIn, #zoomOut, #panLeft, #panRight, #panUp, #panDown, #infoBtn, #menupinBtn {
	color: black;
	background-color: rgba(255,255,255,0.8);
}

#infoBtn, #menupinBtn {
	margin-bottom: .5em;
}

.show {
	visibility: visible !important;
}
.hide {
	visibility: hidden !important;
}